* {
    margin: 0;
}

body {
   background-color: rgb(246, 246, 246);
}

header {
    background-image:url(./image/sky.png) ;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-rows: 55% 45% ;
    grid-template-columns: 65% 35%;
    grid-template-areas: 
    ". celine"
    ". benilec";
}

.celine {
    grid-area: celine;
    font-size: 26px;
    display: grid;
    align-items: flex-end;
}

.benilec {
    grid-area: benilec;
    font-size: 18px;
    font-style: italic;
}

main {
    height: 500px;
    display: flex;
    margin: 20px;
}

main p {
    font-size: 35px;
    font-style: oblique;
}

.section1 {
    height: 500px;
    width: 50%;
    display: grid;
    grid-template-rows: 30% 10% 60%;
    grid-template-areas: 
    "namn"
    "om-mig"
    "info";
}

.section1 .namn {
    font-size: 70px;
    grid-area: namn;
    text-align: center;
    margin: 15px;
}

.om-mig {
    grid-area: om-mig;
    justify-self: center;
}

.info {
    font-size: 22px;
    width: 250px;
    grid-area: info;
    justify-self: left;
    justify-self: center;
}   

#selfie {
    grid-area: namn;
    margin: 10px;
    width: 15%;
    border-radius: 99999px;
}

.section2 {
    height: 500px;
    width: 50%;
    display: grid;
    grid-template-rows: 30% 10% 60%;
    grid-template-areas: 
    "button"
    "friends"
    "list";
}

.button {
    grid-area: button;
    padding: 10px 25px;
    font-size: 25px;
    justify-self: center;
    align-self: center;
    background: rgba(82, 82, 82, 0);
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    box-shadow: 1px 1px 6px 1px gray;
}

.friends {
    grid-area: friends;
    justify-self: center;
}

ul {
    justify-self: center;
    font-size: 25px;
    grid-area: list;
}

footer {
    height: 100px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.356);
    margin: 15px;
}

.footer p {
    padding: 0 25px;
}

.footer a {
    color: rgba(0, 0, 0, 0.356);
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    #selfie {
        width: 30%;
    } 
    .section1 {
    flex: 100%;
    }
}

